<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="image-box">
            <mat-spinner id="loading-spinner" *ngIf="imgLoading"></mat-spinner>
            <img [hidden]="imgLoading" class="card-img-top" src="assets/images/profile/srijith.jpg" alt="dp icon"
                (load)="imgOnLoad()">
        </div>

        <ul>
            <div id="contacts-container">
                <h1 id="title">Srijith Kaladharan</h1>
                <p id="sub-title">Software Engineer | Continuous Learner</p>

                <div class="row">
                    <div class="col-4 col-md-2 col-sm-2 icon-btn col-bottom text-center">
                        <a href="https://www.linkedin.com/in/srijith-kaladharan-087523122/" target="_blank">
                            <img src="assets/icons/linkedin.png">
                            <span id="contact-span">Connect me on LinkedIn</span>
                        </a>
                    </div>
                    <div class="col-4 col-md-2 col-sm-2 icon-btn col-bottom text-center">
                        <a href="https://github.com/srijithkaladharan" target="_blank">
                            <img src="assets/icons/github.jpg">
                            <span id="contact-span">Check out my hobby codes</span>
                        </a>
                    </div>
                    <div class="col-4 col-md-2 col-sm-2 icon-btn col-bottom text-center">
                        <a href="https://seekershive.wordpress.com/" target="_blank">
                            <img src="assets/icons/wordpress.png">
                            <span id="contact-span" class="span-sm-align">I write Blogs Check it out!</span>
                        </a>
                    </div>
                    <div class="col-6 col-md-2 col-sm-2 text-center icon-btn col-bottom text-center">
                        <input type="text" hidden="true" [(ngModel)]="email">
                        <a (click)="copyToClipboard('Email copied to clipboard')" [cdkCopyToClipboard]="email">
                            <img src="assets/icons/email.jpg">
                            <span id="contact-span">Write me an Email!</span>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-sm-2 text-center icon-btn col-bottom text-center">
                        <input type="text" hidden="true" [(ngModel)]="phone">
                        <a (click)="copyToClipboard('Phone Number copied to clipboard')" [cdkCopyToClipboard]="phone">
                            <img src="assets/icons/call.png">
                            <span id="contact-span">Call me!!</span>
                        </a>
                    </div>

                </div>

            </div>
        </ul>
    </div>
</div>