.tech-icon-1 {
    height: 3rem;
    width: 6rem;
}

.tech-icon-2 {
    height: 3rem;
    width: 3rem;
}

.tech-icon-3 {
    height: 5rem;
    width: 5rem;
    margin-top: -10%;
}

.tech-icon-4 {
    height: 7rem;
    width: 8rem;
}